 * {
     padding: 0;
     margin: 0;
     font-family: sans-serif;
 }
.Inicio {
    background-image: url("Images/desk-1220052.jpg");
    background-size: 100%;
} 


header {
    color: #ffffff;
    background-color: #1e90ff;
    position: fixed;
    width: 100%;
}
.navegacion {
   float: right;
   margin-right: 10px;
   margin-top: 3px;
   position: clear;
}
.navegacion li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}
header h1 {
    display: inline-block;
    margin-left: 42%;
    font-size: 22px;
    margin-top: 3px;
}
.Inicio img {
    display: inline-block;
    margin-top: 90px;
    margin-left: 5%;
    width: 700px;
    border: 1px solid black;
    border-radius: 10px;
}
.botones {
    float: right;
    padding-top: 300px;
    margin-right: 400px;
    color: #ffffff;
}
.botones blockquote {
    padding: 15px;
    border: 2px solid #747d8c;
    border-radius: 30px;
    margin-top: 15px;
    text-align: center;
    box-shadow: 3px 6px 4px  #2f3542;
    background-color: #a4b0be;
}
.Inicio p {
    margin-top: 100px;
    font-size: 30px;
    padding-bottom: 100px;
    margin-left: 10px;
    color: #f1f2f6;
}